@import "./variables";
html,
body {
  overflow: auto;
}
* {
  box-sizing: border-box;
  @include custom-scroll-bar();
}

main {
  position: relative;
  width: 100%;
  transition: all 0.4s ease-in-out;
  &.active-right-actionbar {
    width: calc(100% - 208px);
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
//react-svg
.react-svg {
  line-height: 0;
  div {
    line-height: 0;
  }
}
.d-inline-block {
  display: inline-block;
}
.mr-1 {
  margin-right: 4px;
}
.w-full {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .sm-d-block {
    display: block !important;
  }
  .MuiAppBar-root{
    border: none !important;
  }
}

@media screen and (min-width: 900px) {

  .MuiListItemIcon-root{
    height: 38px;
  }
}

.MuiListItemIcon-root{
  width: 38px;

  svg{
    height: 22px;
  }
}
.MuiIconButton-colorPrimary.MuiIconButton-sizeMedium{
  width: 40px;
  height: 40px;
}
